/* :root {
  --primary-fontcolor: #757575;
  --primary-fontsize: 14px;
  --primary-bg-color: #f5f4fa;
  --sec-fontcolor: #212121;
  --accent-color: #2196f3;
  --color-white: #ffffff;
  --color-black: #000000;
  --commands-bg-color: #e5e5e5;
  --footer-bg-color: #2f303a;
  --address-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  color: #212121;
  background: #e5e5e5;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.ul {
  list-style: none;
} */
.body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
}
